* { /* This is the universal reset. I like to put it at the beginning of my css file so I never forget it!*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: rgb(82, 82, 99);
    color: #8A9DB1;
}

.pageWrapper {
      grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
      grid-template-columns: 1fr;
    }

header {
    grid-area: header;
    font-size: medium;
    grid-column: 1/-1; /* 1/-1 means occupy the entire row */
    color: #E7ADBC;
    padding: 30px;
}

nav {
    grid-area: nav;
    font-size: medium;
    grid-column: 1/-1;
    background: #C9D2DB;
    padding: 30px;
}

main {
    grid-area: main;
    font-size: medium;
    grid-column: 6/-1;
}

.img {
    width: 475px;
    height: 350px;
    padding: 30px;
}

.cards {
      display: grid;
      grid-template-columns: 1/1fr;
      gap: 20px;
      background: #C9D2DB;
    }

.card {
      padding: 30px;
      background: #F5E9E7;
      border: 1px solid #E7ADBC;
    }
.cardOne { /* In the HTML code, this is tagged as a class, but this can totally be ID instead because it's really a one time thing.*/
      padding: 30px;
      background: #F5E9E7;
      border: 1px solid #E7ADBC;
    }

footer {
    grid-area: footer;
    font-size: medium;
    grid-column: 1/-1;
    color: #E7ADBC;
    padding: 30px;
}

@media (width >=768px) {
    .pageWrapper {
        display: grid;
        grid-template-columns: 220px 1fr;
        grid-template-areas:
          "header header"
          "nav main"
          "footer footer";
    }
    .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
    .cardOne {
    grid-column: 1/-1;
  }
}
